@media (max-width: 1920px){
    .container{
        margin: auto;
        max-width: 1200px;
        padding: 0 16px;
    }
}
@media (max-width:1098px){
    .contact-info{
        margin-top: auto;
    }
    .map{
        margin-top: 65px;
    }
}
@media (max-width:991px){
    .top-nav ul{
        flex-direction: column;
    }
    .top-nav ul li::before{
        display: none;
    }
    .under_line{
        display: none;
    }
    .why-us-image{
        display: none;
    }
    .service h1 br{
        display: none;
    }
    .contact-us .big-screen-show{
        display: none;
    }
    .contact-us .big-screen-hide{
        display: block;
    }
}
@media (max-width: 767px){
    .cover-image{
        height: fit-content;
    }
    .full-cover-img {
        height: fit-content;
    }
    .secondary-btn {
        font-size: 14px;
        padding: 10px 15px;
        min-width: 151px;
    }
    .service h1 br{
        display: none;
    }
    .about-uss .about-us-bg-shape{
        display: none;
    }
    .counter .counter-1{
        margin: 50px 0;
    }
    .contact-us .input-box{
        justify-content: center;
    }
    .m-top{
        margin-top:60px;
    }
    .py-100{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    /* brands css start  */
    .brand .container{
        padding: 0;
    }
    .brand .br-names {
        margin: 40px 0;
    }
    .brand .slider {
        box-shadow: 0 13px 26px -11px rgb(0 0 0 / 11%);
        width: 100%;
        margin-bottom: 60px;
    }
   /* brands css end  */

   /* service css start  */
   .service-box .inner-content .card-img {
    height: 86px;
    width: 81px;
    }
    .service-box .inner-content .card-img img {
        transform: translate(23px, 27px);
        width: 36px;
    }
    .service-box .inner-content {
        margin-top: -101px;
    }
    .service .container .service-box {
        margin-top: 88px;
    }
    .service-testimonial, .service{
        padding-top: 50px;
        padding-bottom: 50px;
    }
   /* service css end  */
    .counter .overlay{
        padding-top: 34px;
        padding-bottom: 34px;
    }
    .counter.py-3{
        padding: 0;
    }
    .counter .counter-1{
        margin: 0;
        padding: 16px 0;
    }
    /* projects css start  */
    .projects .nav-item a{
        margin-bottom: 0;
    }
    .projects .nav-link{
        padding-bottom: 0;
    }
    /* projects css end  */
    .contact-us .contact-items .py-5{
        padding-top: 0;
        padding-bottom: 0;
    }
    .contact-us .big-screen-hide p.my-5 {
        margin-top: 2rem!important;
        margin-bottom: 1rem!important;
    }
    .working-process .container .content-box-text br{
        display: none;
    }
    /* footer css start  */
    .footer-padding {
        padding-bottom: 34px;
    }
    /* footer css end  */
    .gy-5{
        --bs-gutter-y: 1.5rem;
    }
    .my-5{
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
    h1{
        font-weight: 600;
        line-height: 51px;
    }
    h2{
        font-size: var(--h2);
        font-weight: 600;
        line-height: 46px;
    }
    h3{
        font-size: var(--h3);
        font-weight: 600;
        line-height: 38px;
    }
    h4{
        font-size: var(--h4);
        font-weight: 600;
        line-height: 32px;
    }
    h5{
        font-size: var(--h5);
        font-weight: 600;
        line-height: 32px;
    }
    h6{
        font-size: var(--h6);
        font-weight: 600;
        line-height: 30px;
    }
    .txt-md{
        line-height: 28px;
        /* font-size: 14px; */
    }
    .txt-sm{
        font-size: var(--text-sm);
        line-height: 26px;
    }
}