/* .nav-tabs .nav-link{
    cursor: pointer;
}
.nav-tabs .nav-item.show .nav-link, 
.nav-tabs .nav-link.active {
    color: var(--secondary);
    border-color: transparent;
}
 */


 /* for desktop view css  */

ul, li, a{
    text-decoration: none;
    margin: 0;
}
li{
    list-style-type: none;
}
.navbar-nav li{
    color: var(--deep-blue);
}
.navbar-nav .nav-link {
    font-size: var(--text-md);
    color: inherit;
    /* margin: 0 16px; */
    font-weight: 500;
    padding: 0;
}
.navbar-nav a:hover{
    color: var(--orange);
}
.navbar-nav .call-us a{
    transition: 500ms all;
}
.navbar-nav .call-us:hover a{
    color: var(--white);
    background: var(--primary);
}
.navbar-nav .primary-btn a:hover{
    color: var(--white);
}
.top-nav ul li {
    /* color: var(--secondary); */
    /* padding-left: 16px; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 16px;
    transition: 0.1s;
}
.top-nav ul li::before {
    background: var(--secondary);
    height: 3px;
    content: ' .';
    width: 0px;
    color: transparent;
    margin-left: 0;
    transition: 0.5s;
}
.top-nav ul li.active {
    color: var( --secondary);
}
.top-nav ul li.active::before {
    width: 16px;
}
 /* for desktop view css  */

  .site-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .site-navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }
  /* navbar regular css end */
  
  /* nav-toggler css start */
  .nav-toggler {
    border: 3px solid #000000;
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
    height: 30px;
    display: none;
    transition: .3s all;
  }
  .nav-toggler span, 
  .nav-toggler span:before, 
  .nav-toggler span:after {
    width: 18px;
    height: 3px;
    background-color: #000000;
    display: block;
    transition: .3s;
  }
  .nav-toggler span:before {
    content: '';
    transform: translateY(-7px);
  }
  .nav-toggler span:after {
    content: '';
    transform: translateY(4px);
  }
  .nav-toggler.toggler-open span {
    background-color: transparent;
  }
  .nav-toggler.toggler-open span:before {
    transform: translateY(0px) rotate(45deg);
  }
  .nav-toggler.toggler-open span:after {
    transform: translateY(-3px) rotate(-45deg);
  }
  .nav-toggler:hover{
    background: rgb(194, 194, 194);
  }
  /* nav-toggler css start */
  
  /* mobile breakpoint start */
  @media screen and (max-width: 991px) {
    /* navbar css for mobile start */
    .nav-toggler{
      display: block;
    }
    .navbar-toggler:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: 0 0 0;
    }
    .site-navbar ul {
      position: absolute;
      width: 100%;
      height: 450px;
      left: 0;
      top: 76px;
      flex-direction: column;
      align-items: center;
      background-color: rgba(0,0,0,.75);
      max-height: 0;
      overflow: hidden;
      transition: .3s;
    }
    .site-navbar ul li {
      width: 100%;
      margin-top: 10px;
      text-align: center;
      color: white;
    }
    .site-navbar ul li:hover {
      background-color: rgba(255,255,255,.1);
    }
    .site-navbar ul.open {
      max-height: 100vh;
      overflow: visible;
    }
    /* navbar css for mobile end */
  }
  /* mobile breakpoint end */