@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url(./design-system.css);
@import url(./nav-tabs.css);
@import url(./mediaquerry.css);
body{
    background-color: var(--bg-light-white);
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
section {
    overflow-x: hidden;
}
.hero .m-top{
    margin-top: 47px;
}
.hero .big-shape.m-top{
    max-width: 500px;
    margin-top: 32px;
}
.hero .big-shape img{
    box-sizing: border-box;
    border-radius: 5px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 92%);
}
.top-nav{
    position: fixed;
    color: aliceblue;
    z-index: 99999;
    width: 100%;
}
.top-nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.b-tab {
    display: none;
  }
  
  .b-tab.active {
    display: block;
  }
  
  .b-nav-tab {
    display: inline-block;
  }
  
  .b-nav-tab.active {
    color: var(--secondary);
  }
  /* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* shapes css start here */
.hero .hero-bg-shapes {
    left: -295px;
    top: -34px;
}
.hero .hero-img-bg-1 {
    width: 200px;
    right: 0;
    bottom: 0;
    transform: translate(97px, 45px);
}
.hero .hero-img-bg-2 {
    width: 200px;
    right: 0;
    bottom: 0;
    transform: translate(97px, 5px);
}
.shape-line{
    max-width: 231px;
    width: 100%;
}
.ground-shape{
    bottom: -20px;
    left: 26px;
}
.shape-position{
    left: 0;
    bottom: -22px;
}
.why-us-shape {
    bottom: -30px;
    left: 17px;
}
.shape-choose {
    bottom: -30px;
    right: 10px;
    width: 80%;
}
.testimonial .shape-choose {
    bottom: -20px;
    right: 10px;
    width: 90%;
}
.shape-why-us {
    bottom: 0;
    transform: translateX(300px);
}
.shape-project{
    top: 0;
    transform: translateX(-250px);
}
.testimonial-bg-shapes{
    background-position: center;
}
.shape-contact{
    bottom: 27%;
    left: -28%;
    max-width: 6vw;
}
.shape-contact{
    max-width: 29vw;
}
.shape-product {
    bottom: -27px;
    left: 6px;
    max-width: 247px;
    width: 100%;
}
.shape-today {
    bottom: -20px;
    left: 0;
    width: 100%;
}
.service-left-bg{
    transform: translate(-264px, 0px);
}
.service-right-bg{
    right: 0;
    bottom: 0;
    transform: translate(250px, -27px);
}
.testimonial-left-bg{
   transform: translate(-264px, -64px);
}
.testimonial-right-bg{
    right: 0;
    bottom: 0;
    transform: translate(250px, -27px);
}
.contact-us-bg-shape {
    left: 0;
    transform: translate(-457px, 244px);
}
.footer-bg-left {
    transform: translate(-318px, -50px);
}
.footer-bg-right{
    right: 0;
    bottom: 0;
    transform: translate(250px, 100px);
}
/* shapes css start here */

/* nav css start  */
.number-busy button:hover{
    color: var(--secondary);
}
/* nav css end  */

.image{
    width: 100%;
}
/* hero css start  */
.big-shape{
    max-width: 700px;
}
.big-shape img{
    width: 100%;
}
.hero .image{
    width: 90%;
}
/* hero css end  */

/* service css start */
.our-service{
    position: relative;
    max-width:506px ;
}
.service-box{
    padding:0px 35px 30px 23px;
    border-radius: 5px;
    transition: 400ms all;
}
.service-box .inner-content{
    margin-top: -116px;
    cursor: pointer;
}
.service-box .inner-content .card-img {
    height: 116px;
    width: 116px;
    border-radius: 50% 50% 50% 3px;
}
.service-box .inner-content .card-img img{
    transform: translate(28px, 36px);
}
.service-box .inner-content h4{
    margin: 32px 0;
    color: var(--txt-deep-blue);
}
.service-box .inner-content p{
    color: var(--txt-gray);
}
.service .service-box{
    background: var(--white);
}
.service .service-box:hover {
    background: var(--primary);
    color: var(--white);
}
/* service css start here  */

/* brand css starts here  */
.brand .br-names{
    margin: 84px 0;
}
    /* slider css  */
@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-250px * 7));
        transform: translateX(calc(-250px * 7));
    }
    }
    @keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-250px * 7));
        transform: translateX(calc(-250px * 7));
    }
}
.slider {
    box-shadow: 0 13px 26px -11px rgb(0 0 0 / 11%);
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
    background: transparent;
    margin-bottom: 100px;
}
.slider::before,
.slider::after {
background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
content: "";
height: 100px;
position: absolute;
width: 200px;
z-index: 2;
}
.slider::after {
right: 0;
top: 0;
-webkit-transform: rotateZ(180deg);
transform: rotateZ(180deg);
}
.slider::before {
left: 0;
top: 0;
}
.slider .slide-track {
-webkit-animation: scroll 40s linear infinite;
animation: scroll 40s linear infinite;
display: flex;
width: calc(250px * 14);
}
.slider .slide {
    padding: 25px 45px;
}
/* brand css ends here  */

/* service css start */

.service .container .service-box{
    margin-top: 100px;
}
.service .card-img{
    background: var(--secondary);
}
/* service css end  */

/* why us section css start */
.why-us .container .image .image-left{
    max-width: 470px;
    max-height: 616px;
    width: 100%;
    border-radius: 6px;
}
.container .box-content .box-bg{
    box-sizing: border-box;
    border-radius: 5px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 92%);
}
.container .box-content .box-bg image{
    display: block;
}
.container .box-content .box-bg .img-1{
    position: absolute;
    bottom: 0;
    right: 0;
}
.container .box-content .box-bg .img-2{
    position: absolute;
    bottom: 24px;
    right: 24px;
}
.box-padding{
    padding: 24px 24px 0 24px;
    position: relative;
}
/* why us section css end */


/* counter css start */
.counter .counter-1{
    margin: 151px 0;
}
.counter{
    background-image: url(../img/photo/counter-cover-bg1.webp);
    background-position: center;
    background-repeat: no-repeat;
}
.counter .overlay{
    background-color: rgba(0, 0, 0, 0.5);
}
/* counter css end  */

        /* projects css starts here  */

/* <!-- project-value  -->  */
.my-66px{
    margin: 66px 0;
}
.project .box-content{
    min-width: 370px;
    width: 100%;
}
.project .box-content .image{
    max-height: 220px;
    width: fit-content;
    width: 100%;
}

/* .projects .box-content  */
.projects ul li a:hover{
    color: var(--orange);
    cursor: pointer;
}
.projects .nav-tabs .nav-link:hover{
    border-color: transparent;
}
.projects .one{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    line-height: 17px;
    letter-spacing: 0;
}
.projects .nav-tabs{
    border-bottom: none;
}
.projects .b-tab .image{
    max-width: fit-content;
    min-height: 248px;
    border-radius: 6px 6px 0 0;
}
    /* projects css start here  */

/* testimonial css start */
.dp{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.animateToLeft {
    animation: slideToLeft 5s infinite;
    animation-timing-function: linear;
    width: 200% !important;
    max-width: 200%;
}
    /* testtimonial carousel  */
.owl-carousel{
    display: flex;
}
/* .owl-carousel .owl-dots.disabled{
    display: block;
    color: var(--orange);
} */
.owl-carousel .owl-item img{
    width: auto;
}
.owl-carousel .owl-item{
    cursor: grab;
}
.no-outline:focus {
    outline: none;
  }
/* animation */
@keyframes slideToLeft {
    0%   {transform: translate( 0%, 0px);}
    99%   {transform: translate( -50%, 0px);}
    99.1%   {transform: translate( 0%, 0px);}
  }

/* contact-us css start here  */
.contact-us .input-box {
    max-width: 470px;
    z-index: 9;
}
.contact-us .msg-box {
    padding: 40px;
    width: 100%;
}
.contact-us .big-screen-hide{
    display: none;
}
.contact-us input.no-outline::placeholder {
    color: rgb(186, 186, 186);
}
.msg-box .message {
    padding-bottom: 103px;
}
.msg-box input{
    background: var(--blue);
    color: var(--white);
    margin: 16px 0;
    border: none;
    padding: 10px 4px;
    border-bottom: 1px solid gray;
    width: 100%;
}
.msg-box input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--white);
    opacity: 1; /* Firefox */
}
.map{
    margin-top: -65px;
}
/* contact-us css ends here  */

/* footer css */
footer{
    overflow: hidden;
}
footer ul li a {
    color: white;
    transition: all 300ms;
}
footer a:hover{
    color: var(--secondary);
}
.footer-padding{
    padding-top: 66px ;
    padding-bottom: 66px ;
}
footer .footer-links li{
    padding-top: 8px
}
footer .logo-icon i{
    transition: ease-out 100ms;
}
footer .logo-icon i:hover{
    color: white;
}